<template>
  <div id="app">
    <hr>
    <Articulo v-bind:cantidadPedida="cantidad" />
    <hr>
    <input type="number" v-model="cantidad" >
  </div>
</template>

<script>
import Articulo from './components/Articulo.vue'

export default {
  name: 'App',
  components: {
    Articulo
  },
  data () {
    return {
      cantidad: '0'
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
