<template>
  <div>
    <h2>Nombre: {{ nombre }}</h2>
    <h3>Descripcion: {{ descripcion}} </h3>
    <h3>Precio Unitario: {{ precio }} </h3>
    <h3>Importe a Pagar: {{ calcularTotal() }} </h3>
    <button v-if="cantidadDisponible >= cantidadPedida">Agregar al carro</button>
  </div>
</template>

<script>
export default {
  name: 'Articulo',
  data () {
    return {
      id: 5,
      nombre: 'Mouse',
      descripcion: 'Mouse optico de alta resolucion',
      precio: 850,
      cantidadDisponible: 2
    }
  },
  props: {
    cantidadPedida: {
      type: String,
      default: '0'
      // ,
      // validator: (value) => {
      //   return value <= 2
      // }
    }
  }, 
  methods: {
    calcularTotal: function () {
      return this.precio * this.cantidadPedida
    }
  },


}
</script>