<template>
  <div>
    Poner tantos componentes Articulo como articulos haya en data
  </div>
</template>


<script>
import Articulo from './Articulo.vue'


export default {
  name: 'Carrito',
  component: {
    Articulo
  },
  data () {
    articulos: [
      {
        id: 1,
        nombre: 'mouse'
      },
      {
        id: 2,
        nombre: 'teclado'
      }
    ]
  }

}
</script>