<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

  <div id="app">
    <nombrecompleto titulo="Presidente" oficina="Casa Rosada" salutacion="Sr."></nombrecompleto>
    <nombrecompleto titulo="VicePresidente" salutacion="Sr."></nombrecompleto>
    <nombrecompleto salutacion="Sr."></nombrecompleto>
    <nombrecompleto salutacion="Sr."></nombrecompleto>
  </div>

  <script>
    Vue.component('nombrecompleto', {
      data: function () {
        return {
          nombre: '',
          apellido: '',
          edad: ''
        }
      },
      props: {
        titulo: String,
        oficina: {
          type: String,
          default: 'Home'
        },
        salutacion: {
          type: String,
          required: true 
        }
      },
      methods: {
        nombreCompleto: function () {
          return this.nombre + ' ' + this.apellido + ' - ' + this.oficina
        }
      },
      template: '<div>' +
                '     <h4>{{ titulo }}</h4>' +
                '     <input type="text" v-model="nombre"  />' +
                '     <input type="text" v-model="apellido" />' +
                '     <input type="text" v-model="edad" />' +
                '     <br>' +
                '     {{ nombreCompleto() }}' +
                '     <hr />' +
                '</div>'
    })

    let app = new Vue({
      el: '#app',
      data: {
        nombre: 'John',
        apellido: 'Wick'
      }
    })

  </script>

</body>
</html>