<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

  <div id="app">
    <h4>{{ desdeEjemplo }}</h4>
    <input type="text" v-model="nombre" />

    
    <hr />
    <ejemplo v-bind:valor="nombre" v-bind:notificar="notificable" style="background-color: aquamarine;"></ejemplo>

  </div>

  <script>
   
    Vue.component('ejemplo', {
      data: function () {
        return {
          nombreEjemplo: ''
        }
      },
      props: {
        valor: String,
        notificar: Function
      },
      methods: {
        cambiaNombre: function (ev) {
          console.log(this.nombreEjemplo)
          this.notificar(this.nombreEjemplo)
        }
      },
      template: '<div>Componente: {{ valor }}' +
                '     <input type="text" v-model="nombreEjemplo" v-on:change="cambiaNombre"  />' +
                '</div>'
    })

    let app = new Vue({
      el: '#app',
      data: {
        nombre: 'John',
        desdeEjemplo: 'xxx',
        notificable: (dato) => {
          console.log(this)
          console.log('y ahora??' + dato)
          this.desdeEjemplo = dato
        }
      }
    })

  </script>

</body>
</html>