<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h3>Primera App Vue</h3>

  <div id="app">
    <!-- Donde se renderiza toda la aplicacion Vue -->
    <h4>Nombre: {{ nombre }} </h4>
    <h4>Apellido: {{ apellido }} </h4>

    <h4>Nombre Completo: {{ nombreCompleto() }} </h4>

    <input type="text" v-model="nombre" />
    <input type="text" v-model="apellido" />

    <!-- <button onclick="cli()">Click ME</button>
    <h4>Nombre: <spam id="nomb"></spam> </h4> -->
  </div>
  
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        nombre: 'John',
        apellido: 'Wick'
      },
      methods: {
        nombreCompleto: function () {
          return this.nombre + ' ' + this.apellido
        }
      },
    })

    window.miapp = app

    // function cli() {
    //   app.nombre = 'desde clic'
    //   // let el = document.getElementById('nomb')
    //   // el.innerText = 'Mi Nombre'
    // }

  </script>

</body>
</html>


