<template>
  <div style="width:500px">
    <q-form
      @submit="onAgregar"
      @reset="onLimpiar"
      class="q-gutter-md"
    >
      <q-select v-model="negocioSeleccionado" :options="negocios" label="Negocio donde comprar" />

      <q-field
        :value="producto"
        :rules="[val => val !== '' || 'Ingrese producto']"
        lazy-rules
        >
        <q-input v-model="producto" label="Producto a comprar" />
      </q-field>

      <q-field
        :value="cantidad"
        :rules="[val => val > 0 || 'Ingrese cantidad']"
        lazy-rules
        >
        <q-input v-model="cantidad" type="number" label="Cantidad" />
      </q-field>
      <div>
        <q-btn label="Agregar" type="submit" color="primary"/>
        <q-btn label="Limpiar" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>


<script>
import { leerNegocio } from '../services'
import { AGREGAR_PRODUCTO } from '../store/compras/types'

export default {
  data() {
    return {
      negocioSeleccionado: null,
      producto: '',
      cantidad: 0,
      negocios: null
    }
  },
  methods: {
    onAgregar: function () {
      let compra = {
        nombreProducto: this.producto,
        cantidad: this.cantidad,
        comprado: false,
        negocio: this.negocioSeleccionado
      }

      this.$store.dispatch('compras/' + AGREGAR_PRODUCTO, compra)
    },
    onLimpiar: function () {
      this.negocioSeleccionado = null,
      this.producto = ''
      this.cantidad = 0

      // this.$store.state.compras.listaCompras.forEach(element => {
      //   console.log(element.nombreProducto)
      // });
    }
  },
  mounted: function () {
    this.negocios = leerNegocio()
  }
}
</script>