<template>
  <div style="width:500px">
    <q-list bordered separator>

      <q-item clickable v-ripple v-for="cpa in compras" :key="cpa.nombreProducto">
        <q-item-section>
          <q-item-label>{{ cpa.cantidad }} - {{ cpa.nombreProducto }}  </q-item-label>
          <q-item-label caption>{{ cpa.negocio.label  }}</q-item-label>
          <q-checkbox :value= cpa.comprado />
        </q-item-section>
      </q-item>

    </q-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
    }
  },
  computed: {
    compras: function () {
      return this.$store.state.compras.listaCompras
    }
  },
}
</script>