<template>
  <div id="app" style="background-color:red">
    <br>
    <input type="text" v-model="datoPadre" style="margin-left:20px">
    <br>
    <br>
    <MiComponente v-bind:msg="datoPadre" 
                  v-on:hablarParent="escuchoAlHijo"
                  style="width:80%;margin-left:20px" />
    <br>
    <br>
    <h3>El Child envia: {{ datoHijo  }}</h3>

  </div>
</template>

<script>
import MiComponente from './components/MiComponente.vue'

export default {
  name: 'App',
  data: function () {
    return {
      datoPadre: '',
      datoHijo: ''
    }
  },
  methods: {
    escuchoAlHijo: function (ev) {
      this.datoHijo = ev
    }
  },
  components: {
    MiComponente
  }
}
</script>
