<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">
    <!-- Donde se renderiza toda la aplicacion Vue -->
    <input type="text" v-model="edad" />

    <div v-if="edad >= 18">
      <h3>Es mayor</h3>
      Esta persona, ya puede votar y comprar casas
    </div>
    <div v-else-if="edad >= 16">
      <h3>Es mayor</h3>
      Esta persona, ya puede votar pero no comprar casas
    </div>
    <div v-else-if="edad >= 14">
      <h3>Es menor</h3>
      Esta persona, no puede votar y no comprar casas pero es imputable
    </div>
    <div v-else>
      <h3>Es menor</h3>
      Esta persona, no hacer nada
    </div>
    
  </div>
  
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        edad: 0
      }
    })

    window.miapp = app

  </script>

</body>
</html>


