<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">

    <ul>
      <li v-for="valor in valores">
        {{ valor.numero }} - {{ valor.texto }}
      </li>
    </ul>
    
  </div>
  
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        valores: [
          { numero: 1, texto:'uno' },
          { numero: 2, texto:'dos' },
          { numero: 3, texto:'tres' },
          { numero: 4, texto:'cuatro' },
          { numero: 5, texto:'cinco' },
          { numero: 6, texto:'seis' },
        ]
      }
    })

    window.miapp = app

  </script>

</body>
</html>


