<template>
  <div style="background-color:yellow">
    <input type="text" v-model="valor1" v-on:keypress.enter="hablar" >
    <br>
    <input type="text" v-model="valor2" >
    <h3>Usted ingreso: {{ valor1 }} y {{ valor2 }} </h3>
    <h3>El Parent envia: {{ msg  }}</h3>
  </div>
</template>

<script>
export default {
  name: 'MiComponente',
  data: function () {
    return {
      valor1: '',
      valor2: ''
    }
  },
  props: {
    msg: String
  },
  methods: {
    hablar: function () {
      this.$emit('hablarParent', this.valor1)
    }
  },
}
</script>
